/* Stolen (sorry, adapted) from SimpleMDE */

.CodeMirror {
    font-family: inherit;
    height: 100%;
    font-size: 20px;
    padding: 0 15px 0 15px;
}

.CodeMirror .CodeMirror-lines {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.CodeMirror .CodeMirror-code .cm-variable-2,
.CodeMirror .CodeMirror-code .cm-variable-3 {
    color: #000;
}

.CodeMirror .CodeMirror-code .cm-tag {
    color: #63a35c;
}

.CodeMirror .CodeMirror-code .cm-attribute {
    color: #795da3;
}

.CodeMirror .CodeMirror-code .cm-string {
    color: #183691;
}

.CodeMirror .CodeMirror-code .CodeMirror-matchingbracket {
    background: rgba(0,0,0,0.05);
}

.CodeMirror .CodeMirror-selected {
    background: #d9d9d9;
}

.CodeMirror .CodeMirror-code .cm-header-1 {
    font-size: 200%;
    line-height: 100%;
    color: #000;
}

.CodeMirror .CodeMirror-code .cm-header-2 {
    font-size: 160%;
    line-height: 100%;
    color: #000;
}

.CodeMirror .CodeMirror-code .cm-header-3 {
    font-size: 125%;
    line-height: 100%;
    color: #000;
}

.CodeMirror .CodeMirror-code .cm-header-4 {
    font-size: 110%;
    line-height: 100%;
    color: #000;
}

.CodeMirror .CodeMirror-code .cm-comment {
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    font-family: "Source Code Pro", monospace;
    font-size: 0.8em;
}

.CodeMirror .CodeMirror-code .cm-link {
    color: #7f8c8d;
}

.CodeMirror .CodeMirror-code .cm-url {
    color: #aab2b3;
}

.CodeMirror .CodeMirror-code .cm-strikethrough {
    text-decoration: line-through;
}

.CodeMirror .CodeMirror-placeholder {
    opacity: .5;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: rgba(255,0,0,.15)
}

.CodeMirror .CodeMirror-code .cm-quote {
    color: #000;
}