html, body {
    font-family: "San Francisco", "Ubuntu", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
    height: 100%;
}

.main {
    overflow: hidden;
    height: 100%;
}

.editor {
    height: 100%;
    overflow: hidden;
}

.items-list-container {
    float: left;
    width: 360px;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-right: 1px solid #f0f0f0;
}

.items-list-container ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.items-list-container li .list-elem-title {
    font-size:18px;
    color: #333;
    padding: 0 40px 0 0;
}

.items-list-container li .list-elem-summary {
    font-size:16px;
    color: #999;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.one-line-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items-list-elem {
    padding:12px 25px 12px 25px;
    cursor: pointer;
}

.items-list-elem:hover {
    background-color: #eee;
}

.list-elem-active,
.list-elem-active:hover {
    background-color: #eef3f8;
}

.sidebar-groups {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    margin: 0;
}