html, body {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
    margin: 0;
    height: 100%;
}

.main {
    overflow: hidden;
    height: 100%;
}

.content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.editor {
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
}

.hide {
    display: none;
}

.dim {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.toolbar {
    border-bottom: 1px solid #f0f0f0;
    z-index: 3;
    height: 45px;
    font-size: 18px;
}

.toolbar-icon {
    display: inline-block;
    padding: 12px;
}

.hover-background:hover {
    background-color: #eee;
    cursor: pointer;
}

.toolbar .icon-right {
    float: right;
}

.groupbar {
    display: flex;
    height: 45px;
    margin-left: 12px;
    align-items: center;
    float: left;
    font-size: 15px;
}

.groupbar .groupbar-elem {
    display: inline-block;
    float: left;
    padding: 3px 5px 3px 5px;
    margin-right: 8px;
    border: solid 1px #f0f0f0;
    border-radius: 7px;
}

.icon-bar {
    float: right;
}

#group-input {
    width: 120px;
    height: 16px;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
}

.groupbar .new-group {
    position: relative;
}

.groupbar .new-group .suggestions {
    position: absolute;
    left: 0;
    max-width: 216px;
    top: 20px;
    z-index: 999;
    background-color: #fff;
    border: solid 1px #f0f0f0;
    border-radius: 15px;
}

.suggestions .suggestion {
    padding: 2px 15px 2px 15px;
}