html, body {
    font-family: "San Francisco", "Ubuntu", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
    height: 100%;
}

.main {
    overflow: hidden;
    height: 100%;
}

.editor {
    height: 100%;
    overflow: hidden;
}

.items-list-container {
    float: left;
    width: 360px;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-right: 1px solid #f0f0f0;
}

.items-list-container ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.items-list-container li .list-elem-title {
    font-size:18px;
    color: #333;
    padding: 0 40px 0 0;
}

.items-list-container li .list-elem-summary {
    font-size:16px;
    color: #999;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.one-line-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items-list-elem {
    padding:12px 25px 12px 25px;
    cursor: pointer;
}

.items-list-elem:hover {
    background-color: #eee;
}

.list-elem-active,
.list-elem-active:hover {
    background-color: #eef3f8;
}

.sidebar {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    margin: 0;
    font-size: 18px;
    transition: all 0.3s ease;
    z-index: 3;
}

.sidebar ul {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 20px 0 0 0;
}

.sidebar-elem {
    padding: 7px 20px 7px 30px;
}

.sidebar-elem:hover {
    background-color: #eee;
    cursor: pointer;
}

.sidebar .sidebar-elem-active,
.sidebar .sidebar-elem-active:hover {
    background-color: #eef3f8;
}

.sidebar-hidden {
    left: -300px;
}

.hide {
    visibility: hidden;
}

.dim {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}