.sidebar {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    margin: 0;
    font-size: 18px;
    transition: all 0.3s ease;
    z-index: 3;
}

.sidebar .special-elems {
    margin: 10px 0 16px 0;
}

.sidebar .sidebar-groups {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-elem {
    padding: 7px 15px 7px 20px;
}

.sidebar .sidebar-elem-active,
.sidebar .sidebar-elem-active:hover {
    background-color: #eef3f8;
}

.sidebar-hidden {
    left: -300px;
}

.group-icon {
    display: inline;
    margin-right: 5px;
}

.group-name {
    display: inline;
}