// Stolen from Simplenote

// =======
// COLOURS
// =======

// Stolen from Google's Material Design Style Guides
// Primary colour: grey
$grey-100: #e5e5e5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// Secondary colour: blue
$blue-lightest: #64B5F6;
$blue-lighter: #42A5F5;
$blue: #2196f3;

// =====
// SIZES
// =====

// Icons
$icon-size: 14px;
$icon-padding: $icon-size / 3;

// Global Measurements
$sidebar-width: 300px;
$items-list-width: 300px;
$toolbar-height: 36px;
$editor-width: 720px;

// Text
$line-height: 1.5em;

$font-size-large: 20px;
$font-size: 14px;
$font-size-small: 12px;
$normal: 400;
$bold: 600;
$light: 300;

$serif-font: "Cormorant Garamond", "Adobe Garamond Pro", "Garamond", serif;
$sans-serif-font: BlinkMacSystemFont, "Helvetica Neue", sans-serif;
$monospace-font: "Source Code Pro", monospace;

// Animations
$anim-transition: all 200ms ease-in-out;
$anim-fast: all .1s ease-in-out;
$anim: all .2s ease-in-out;

$dim-alpha: 0.5;
$fade-alpha: 0.25;

$border-radius: 6px;

// z-index values
$z-index-dialogs: 1000;
$base-z: 1;
$z-dim: $base-z + 1;

// Viewport widths for media queries
$single-column: 750px;
$medium: 900px;

// =========
// CONSTANTS
// =========

.inherit {
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

.hor-centre {
  margin-left: auto;
  margin-right: auto;
}

.no-mp {
  margin: 0;
  padding: 0;
}