/* Stolen (sorry, adapted) from SimpleMDE */

@import "variables";

.CodeMirror {
  margin: auto;
  flex: 1 0 auto;

  line-height: 1.5em;
  font-family: inherit;
  height: 100%;
  width: 90%;
  font-size: $font-size;
  padding: 0 15px;
  color: inherit;
  background-color: inherit;

  .CodeMirror-sizer {
    max-width: $width-editor;
    margin: 0 auto !important;
  }

  .CodeMirror-code {
    .cm-variable-2, .cm-variable-3 { color: inherit }
    .cm-quote { color: inherit; }
    .cm-strikethrough { text-decoration: line-through; }
    .cm-tag, .cm-link { color: inherit }
    .cm-url { color: darken($grey-500, 6%) }

    .cm-header {
      color: inherit;
      line-height: $line-height;
    }

    .cm-header-1 { font-size: 2em; }
    .cm-header-2 { font-size: 1.6em; }
    .cm-header-3 { font-size: 1.25em; }
    .cm-header-4 { font-size: 1.1em; }

    .cm-comment {
      font-family: $monospace-font;
      font-size: 0.9em;
      color: inherit;
    }

    // Custom modes
    .CodeMirror-matchingbracket { background: rgba(0,0,0,0.05); }
    .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
      background: url("./img/red-squiggly-underline.svg") left bottom repeat-x;
    }
  }
}

.CodeMirror .CodeMirror-placeholder { opacity: .5; }