@import "variables";

.sidebar {
  border-right-width: 1px;
  border-right-style: solid;

  width: $width-sidebar;
  transition: $anim-transition;
  flex: 0 0 auto;
  line-height: 1.3em;

  .sidebar-section {
    padding: 5px 0;
  }

  .sidebar-elem {
    padding: 2px 10px 2px 20px;

    .group-name { display: inline; }
  }
}

.sidebar.sidebar-hidden {
  display: none;
}