@import "variables";

.sidebar {
  border-right-width: 1px;
  border-right-style: solid;

  width: $width-sidebar;
  transition: $anim-transition;
  flex: 0 0 auto;

  .sidebar-section {
    padding: 5px 0;
  }

  .sidebar-elem {
    padding: 1px 10px 1px 20px;

    .group-name { display: inline; }
  }
}

.sidebar.sidebar-hidden {
  display: none;
}