@import "variables";

$sidebar-width: 250px;

.sidebar {
  position: absolute;
  left: 0; top: 0; bottom: 0;

  width: $sidebar-width;
  transition: $anim-transition;
  z-index: $z-dim + 1;

  .sidebar-section {
    padding: 5px 0;
  }

  .sidebar-elem {
    padding: 2px 10px 2px 20px;

    .group-name { display: inline; }
  }
}

.sidebar.sidebar-hidden {
  left: -$sidebar-width;
}