@import "variables";

.pane-mid {
  border-right-width: 1px;
  border-right-style: solid;

  width: $width-pane-mid;
  height: 100%;
  overflow: auto;

  .toolbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .items-list {
    list-style-type: none;

    .items-list-elem {
      padding: 8px 14px;
      border-bottom-width: 1px;
      border-bottom-style: solid;

      .list-elem-title {
        font-size: $font-size;
        padding: 0 40px 3px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .list-elem-summary {
        $lines-to-preview: 3;

        font-size: $font-size-small;
        line-height: 1.2em;
        height: $font-size-small * 1.2 * $lines-to-preview;
        overflow: hidden;
        white-space: pre-wrap;
      }
    }
  }
}