// A low-contrast grey mode for comfort to the eyes

@import "variables";

.theme-dark {
  background-color: $grey-800;
  color: $grey-300;
  border-color: $grey-500;

  .active {
    background-color: $grey-700;
  }

  .hover-background:hover {
    background-color: $grey-700;
  }

  .pane-mid {
    border-right: 1px solid $grey-500;

    .list-elem-summary {
      color: $grey-400;
    }
  }

  .CodeMirror-cursor { border-left: 1px solid $grey-500; }
  .CodeMirror-selected { background: $grey-700; }
}