// A high-contrast Jony Ive theme that leaves you blind

@import "variables";

$sidebar-select: rgb(200, 200, 200);

.theme-light {
  background-color: #fff;
  color: $grey-800;
  border-color: $grey-500;

  .active, .hover-background:hover {
    background-color: $grey-600;
    color: #fff;
  }

  .sidebar {
    background-color: $grey-100;

    .active, .hover-background:hover {
      background-color: $sidebar-select;
      color: inherit;
    }
  }

  .pane-mid {
    border-right: 1px solid $grey-400;

    .list-elem-summary {
      color: $grey-600;
    }

    .active .list-elem-summary,
    .hover-background:hover .list-elem-summary {
      color: $grey-100;
    }
  }

  .CodeMirror-selected { background: $grey-400; }
}