@import "variables";

.editor {
  @extend .inherit;
  position: absolute;
  left: $items-list-width + 1;
  right: 0;
  top: 0; bottom: 0;
  height: 100%;

  .icon-bar {
    margin-left: auto;
  }

  .groupbar {
    @extend .inherit;
    display: flex;
    height: $toolbar-height;
    margin-left: 8px;
    align-items: center;
    float: left;

    .groupbar-elem {
      display: inline-block;
      float: left;
      padding: 4px 5px;
      margin-right: 8px;
      border-radius: $border-radius;
      font-size: $font-size-small;
    }

    .suggestions-box {
      position: relative;
      background-color: inherit;
      font-size: $font-size-small;

      input {
        @extend .inherit;

        width: 120px;
        height: 18px;
        border: none;
        outline: none;
        font-family: inherit;
        color: inherit;
      }

      .suggestions-container {
        @extend .inherit;
        $left-padding: 10px;

        position: absolute;
        left: 0;
        width: 216px;
        top: $toolbar-height * 9/16;
        z-index: $z-index-dialogs;
        border: solid 1px #f0f0f0;
        border-radius: $border-radius;
        margin-left: -$left-padding;
        padding: 5px 0;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, $dim-alpha / 2);

        .suggestion {
          padding: 2px $left-padding;
        }
      }
    }
  }

  .item-display {
    position: absolute;
    top: $toolbar-height + 10px;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .md-preview {
    overflow: scroll;
    @extend .item-display;

    .md-preview-text-container {
      max-width: $editor-width;
      @extend .hor-centre;
    }
  }
}