@import "variables";

.pane-right {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;

  .icon-bar {
    margin-left: auto;
  }

  .groupbar {
    display: flex;
    height: $toolbar-height;
    margin-left: 8px;
    align-items: center;
    float: left;

    .groupbar-elem {
      display: inline-block;
      float: left;
      padding: 4px 5px;
      margin-right: 8px;
      border-radius: $border-radius;
      font-size: $font-size-small;
    }

    .suggestions-box {
      position: relative;
      background-color: inherit;
      font-size: $font-size-small;

      input {
        @extend .inherit;

        width: 120px;
        height: 18px;
        border: none;
        outline: none;
        font-family: inherit;
        color: inherit;
      }

      .suggestions-container {
        $left-padding: 10px;

        position: absolute;
        left: 0;
        width: 216px;
        top: $toolbar-height * 9/16;
        z-index: $z-index-dialogs;
        border: solid 1px #f0f0f0;
        border-radius: $border-radius;
        margin-left: -$left-padding;
        padding: 5px 0;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, $dim-alpha / 2);

        .suggestion {
          padding: 2px $left-padding;
        }
      }
    }
  }

  .cm-container {
    display: flex;
    margin-top: 10px;
    flex: 1 0 0;
    position: relative;
  }

  .md-preview {
    overflow: scroll;

    .md-preview-text-container {
      max-width: $editor-width;
      @extend .hor-centre;
    }
  }
}