/* Stolen (sorry, adapted) from SimpleMDE */

@import "variables";

.CodeMirror {
  margin: auto;
  flex: 1 0 auto;

  font-family: inherit;
  height: 100%;
  font-size: $font-size;
  padding: 0 15px 0 15px;
  color: inherit;
  background-color: inherit;

  .CodeMirror-lines {
    max-width: $editor-width;
    @extend .hor-centre;
  }

  .CodeMirror-code {
    .cm-variable-2, .cm-variable-3 { color: inherit }
    .cm-quote { color: inherit; }
    .cm-strikethrough { text-decoration: line-through; }
    .cm-tag, .cm-link { color: $grey-500 }
    .cm-url { color: darken($grey-400, 8%) }

    .cm-header-1 {
      font-size: 200%;
      line-height: 100%;
      color: inherit;
    }

    .cm-header-2 {
      font-size: 160%;
      line-height: 100%;
      color: inherit;
    }

    .cm-header-3 {
      font-size: 125%;
      line-height: 100%;
      color: inherit;
    }

    .cm-header-4 {
      font-size: 110%;
      line-height: 100%;
      color: inherit;
    }

    .cm-comment {
      background: rgba(0, 0, 0, .05);
      border-radius: 3px;
      font-family: $monospace-font;
      font-size: 0.8em;
      color: inherit;
    }

    // Custom modes

    .cm-linebreak:last-child::after {
      font-size: 12px;
      content: '↵';
    }

    .CodeMirror-matchingbracket { background: rgba(0,0,0,0.05); }
  }
}

.CodeMirror .CodeMirror-placeholder { opacity: .5; }

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: rgba(255,0,0,.15)
}