@import "variables";

.items-list-container {
  @extend .no-mp;
  float: left;
  width: $items-list-width;
  height: 100%;

  .items-list-elem {
    padding:12px 25px 12px 25px;
  }

  ul {
    list-style-type: none;
    @extend .no-mp;

    li {
      .list-elem-title {
        font-size: $font-size;
        padding-right: 40px;
      }

      .list-elem-summary {
        font-size: $font-size-small;
        @extend .no-mp;
      }
    }
  }
}