@import "variables";

.pane-mid {
  float: left;
  width: $items-list-width;
  height: 100%;
  border-right: 1px solid $grey-400;

  .items-list {
    list-style-type: none;
    padding-left: 1px;

    .items-list-elem {
      padding: 12px 16px;

      .list-elem-title {
        font-size: $font-size;
        padding: 0 40px 3px 0;
      }

      .list-elem-summary {
        $lines-to-preview: 3;

        font-size: $font-size-small;
        line-height: 1.2em;
        height: $font-size-small * 1.2 * $lines-to-preview;
        overflow: hidden;
        white-space: pre-wrap;
      }
    }
  }
}