@import "variables";

.pane-mid {
  float: left;
  width: $items-list-width;
  height: 100%;
  border-right: 1px solid $grey-400;

  .items-list-elem {
    padding:12px 25px 12px 25px;
  }

  ul {
    list-style-type: none;

    li {
      .list-elem-title {
        font-size: $font-size;
        padding-right: 40px;
      }

      .list-elem-summary {
        font-size: $font-size-small;
      }
    }
  }
}