@import "variables";

$sidebar-width: 250px;

.sidebar {
  position: absolute;
  left: 0; top: 0; bottom: 0;

  width: $sidebar-width;
  transition: $anim-transition;
  z-index: $z-dim + 1;

  .special-elems {
    margin: 10px 0 16px 0;

    .group-icon {
      display: inline;
    }
  }

  .sidebar-groups {
    list-style-type: none;
  }

  .group-name {
    display: inline;
  }

  .sidebar-elem {
    padding: 3px 14px 3px 24px;
  }
}

.sidebar.sidebar-hidden {
  left: -$sidebar-width;
}