// A high-contrast Jony Ive theme that leaves you blind

@import "variables";

.theme-light {
  background-color: $grey-300;
  color: $grey-800;

  .active {
    background-color: $grey-400;
    outline: $grey-600 solid thin;
  }

  .hover-background:hover {
    background-color: $grey-400;
  }

  .pane-mid {
    border-right: 1px solid $grey-400;

    .list-elem-summary {
      color: $grey-600;
    }
  }

  .border-right { border-right: 1px solid $grey-400; }
  .border-bottom { border-bottom: 1px solid $grey-400; }

  .CodeMirror-selected { background: $grey-400; }
}