// A low-contrast grey mode for comfort to the eyes

@import "variables";

.theme-dark {
  background-color: $grey-800;
  color: $grey-300;

  .active {
    background-color: $grey-700;
  }

  .hover-background:hover {
    background-color: $grey-700;
  }

  .border-right { border-right: 1px solid $grey-500; }
  .border-bottom { border-bottom: 1px solid $grey-500; }

  .CodeMirror-cursor { border-left: 1px solid $grey-500; }
  .CodeMirror-selected { background: $grey-700; }
}